@font-face {
    font-family: 'Paytone One', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
};

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
};